/* 可忽略 */
* {
    box-sizing: border-box;
}
body {
    font-family: Microsoft JhengHei;
}
.wrap {
    width: 100%;
    margin: 0 auto;
}



/* 從這裡開始 */

.content-input {
    margin-bottom: 50px;
}

.num {
    text-align: right;
    height: 34px;
    @include boxOutLine
    @include l-phone {
        width: 23%;
    }
}

.chart {
    height: 200px; 
    width: 50%;
    float: left;
    margin-bottom: 20px;
}

.press {
    background-color: rgba(55, 118, 29, 1);
    border: 1px solid rgba(55, 118, 29, 1);
    border-radius: 50px;
    padding: 5px 20px;
    //
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
    @include ipad {
        margin-top: 20px;
        width: 85%;
    }
    @include l-phone {
        width: 100%;
    }
    &:hover {
        background-color: #459725;
        border: 1px solid #459725;
    }
}

.input-position {
    margin-left: 10px;
    @include ipad {
        margin-left: 0;
        margin-top: 10px;
    }
    > label {
        padding-right: 10px;
    }
}

.myrunlevel {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    display: block;
    font-size: 62px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;   
}

.progress {
    margin-bottom: 50px;
}

.result-content {
    margin-bottom: 50px;
    h3 {
        display: inline-block;
        border-bottom: 5px solid rgba(55, 118, 29,0.5);
        padding-bottom: 8px;
        margin-bottom: 20px;
        font-weight: bold;   
    }
    
    .pace-clone {
        display: inline-block;
        font-size: 18px;
        padding-left: 20px;
        @include ipad {
            padding-left: 0;
        }
    }
    .row {
       .pull-right {
        span {
            font-size: 18px;
            font-weight: bold;
        }
       } 
    }
    .input-group {
        float: right;
        margin-top: 20px;
        @include l-phone {
            margin-top: 0;
            margin-bottom: 20px;
            float: none;
        }
    }
}


.table-inform {
    th {      
        text-align: center;
        font-weight: bold;
    }
    input {
        width: 26%; 
        text-align: right; 
        @include boxOutLine
        @include l-phone {
            width: 40%;
        }
    }
}


.eBg {
    background-color: #5BC0DE !important;
}
.mBg {
    background-color: #5CB85C !important;
}
.tBg {
    background-color: #337AB7 !important;
}
.aBg {
    background-color: rgb(252, 227, 3) !important;
}
.iBg {
    background-color: #F0AD4E !important;
}
.rBg {
    background-color: #D9534F !important;
}
/*
.age-linear {
    background: linear-gradient(to right,#244d13,#54b32c) !important;
}
.sex-linear {
    background: -webkit-linear-gradient(left,#37761d,#5cc530) !important;
    background: -o-linear-gradient(left,#37761d,#5cc530) !important;
    background: -moz-linear-gradient(left,#37761d,#5cc530) !important;
    background: linear-gradient(to right,#37761d,#5cc530) !important;
}
*/
.table-pace {
  display: none;
}

.result-content-none {
    opacity: 0.8;
    filter: alpha(opacity=50);
    background-image: url(../img/blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    p {
        padding: 83px 10px;
        z-index: 9;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: black;
        a {
            text-decoration: none;
            border: 1px solid #37761D;
            border-radius: 10px;
            background-color: #37761D;
            color: #fff;
            padding: 8px;
            margin-left: 5px;
        }
        >span {
            display: block;
            padding: 10px 0;
        }
    }
}

 .btn-store {
        border: 1px solid #37761d;
        border-radius: 20px;
        background-color: #37761d;
        padding: 5px 12px;
        margin-left: 10px;
        &:hover {
        background-color: #459725;
        border: 1px solid #459725;
    }
        a {
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
    }